.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 100%;
  padding-top: 100%;
  margin-top: -100%;
  filter: grayscale(100%);
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.75s ease-in-out;
}
.headerHomeImage:hover {
  filter: grayscale(0%);
  width: 120%;
  max-width: 120% !important;
  margin-left: -10%;
  padding-top: 120%;
  margin-top: -130%;
}

.backToHome {
  margin: 3rem 0 0;
}
.imageFrame {
  width: 8rem;
  height: 8rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.75s ease-in-out;
}
.imageFrame:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.templateNote {
  font-size: 0.7rem;
}
